@media only screen and (min-width: 788px) and (max-width: 979px) {
  
  /* qualidade home */
  .qualidade:after{
    right: 66px;
}
.qualidade_lista li{
  
  padding: 0 10px;
}
/* Footer redes */
.footer_redes ul li a{
  border: 3px solid #fec63e;
  padding:5px;
  display: block;
}
.footer_redes ul li a img{
  width: 26px;
  height: 26px;
}
/* PRODUTO */
.produto_item h2{
  top: -150px;
}
.produto_icone{

  padding: 41px 0;

}
.produto_info p{
  font-size: 14px;
  padding: 20px 20px;
  height: 122px;
}
.produto_info ul li{
  width: 181px;
  height: 49px;}
} 

@media only screen and (max-width:787px) {
  .header{
    position: relative;
    padding-bottom: 0;
  }
  .header img{
    margin: 0 auto 10px auto;
  }

  .header_menu{
    text-align: center;
  }

  .header_menu ul li{
    margin: 5px 5px 5px 5px;
  }

  .header_menu ul li a{
    
    border: 4px solid #000;
    width: 136px;
    display: block;
    float: left;
    font-weight: bold;    
  }
  .header_menu ul li a:hover{
    border-color: #fff;
  }

  .header .menu_ativo{
    border-color: #fff;
}
/* introdução */
  .introducao{
    margin-top: 0px;
    padding-top: 40px;
  }
  .introducao h1{
    font-size: 36px;
  

}
.introducao-interna{
  
  margin-top:0px;
 
}
/*  CALL */
.call{
  text-align:center ;
  padding-top: 5px;
  clear: both;
}

.qualidade:after{
  display: none;
}
/* Sobre */
.missao_sobre p{
  padding-right: 0px;
}
/* Produto */
.produto_item h2{
  top: -100px;
  margin-bottom: -68px;
}
.produto_icone{

  padding: 41px 0;

}
.produto_info p{
  font-size: 14px;
  padding: 20px 20px;
  height: auto;
}
.produto_info ul li{
  width: 149px;
  height: 49px;
  font-size: 14px;
  padding-top: 14px;
}
.form{
  padding-right:0px ;
}
.orcamento_dados ul{
  padding-right: 0px;
}
/* CONTATO */
.contato_form{
  padding-right: 0px;
}
} 

